@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.nanummyeongjo * {
    font-family: 'Nanum Myeongjo', serif;
}



* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
}

body {
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}


h1 {
    font-size: 1.8rem;
    font-family: 'Noto Sans KR', sans-serif;
}

h4 {

    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    background: #00acdc;
    transition: 0.5s;
}

button:hover{
    box-shadow: 1px 1px 4px #cccccc;
}


img {
    width: 17px;
    margin-right: 10px;
}

input {
    width: 100%;
    height: 40px;
    margin-top: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.9rem;
}

input[type="text"] {
    width: 100%;
    height: 50px ;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    padding-left: 12px;
    border-bottom: 1px solid #ddd;
    outline: none;
}

input:focus {
    outline: 1px solid black;
}

.mobile-none {
    display: none;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.artbox {
    border: 1px solid #ccc;
    margin: 60px 30px 70px 30px;
    margin-bottom: 120px;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}

.check-input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.but-gray {
    height: 40px;
    padding: 0px 20px;
    margin-left: 10px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.3s;
}

.but-gray:hover {
    background: black;
}


.logins {
    margin-top: 50px;
}

.logins> h1 {
    font-size: 2.3rem;
}

.logins p {
    margin-top: 20px;
}

.logins div input[type="text"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logins> div :nth-child(4) {
    margin-top: 10px;
}

.logins> div :nth-child(4) label input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.logins> div :nth-child(4) p {
    margin-top: 1px; 
    padding-right: 10px;
}

.logins> div button {
    margin-top: 30px;
    width: 100%;
    line-height: 2;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    font-weight: bold;
}

.logins> div :nth-child(6) {
  background-color: white; 
  color: black;
}

.logins> div :nth-child(7) p {
    border-top: 1px solid #ccc ;
    padding-top: 20px;
    font-weight: bold;
}

.logins> div :nth-child(7) button { 
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: white;
    color: black;
}

.logins> .artbox h1 {
    margin: 20px 0;
    font-size: 1.6rem;
}

.artbox button i {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-right: 10px;
}

.title-jo {
    margin: 90px 30px 70px 30px;
}

.joinus h1 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}
.joinus p {
    margin-bottom: 10px;
}

.joinus> div {
    text-align: left;
}

.joinus section {
    margin-top: 30px;
    font-weight: bold;
}

.joinus> div section div {
    align-items: center;
}

.joinus> div> :nth-child(6) div {
    align-items: center;
}

.joinus> div> :nth-child(6) button {
    width: 200px;
}

.joinus> div> :nth-child(7) {
    position: relative;
}

.joinus> div> :nth-child(7) img {
    position: absolute;
    width: 30px;
    right: 2%;
    top: 35px;
    cursor: pointer;
}

.joinus> div> :nth-child(8)> div {
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 0px ;
}

.joinus> div> :nth-child(8)>div>div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.joinus> div> :nth-child(8)>div select {
    width: 80px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.joinus> div> :nth-child(9)> :nth-child(1) {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.joinus> div> :nth-child(9) div {
    padding-top: 5px;
}

.joinus> div> :nth-child(9) p {
    font-weight: bold;
    margin-bottom: 20px;
}

.joinus> div> :nth-child(9) span {
    color: #ccc;
}




.longtext h1 {
    font-size: 1.6rem;
}

.longtext> p {
    font-weight: bold;
    margin: 20px 0;
}

.longtext div {
    height: 300px;
    background-color: #eee;
    border: 1px solid #bbb;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    font-size: 0.9rem;
    overflow-y: scroll;
}

.longtext button {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
}

.longtext :nth-child(5) {
    background: white;
    color: black;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

.signin h1 {
    font-size: 1.6rem;
}

.signin h2 {
    font-size: 1.3rem;
    border-bottom: 1px solid #ccc;
    padding: 60px 0;
    font-weight: 500;
}

.signin div {
    display: flex;
    margin: 0 20px;
}

.signin div button {
    margin-top: 20px;
    width: 50%;
    border-radius: 5px;
    font-weight: bold;
}

.bye {
    margin: 90px 0px 70px 0px;
}


.bye> h1 {
    font-size: 2.3rem;
}

.bye div p {
    margin: 20px 0;
}

.bye div h1 {
    font-size: 1.6rem;
}

.bye div> :nth-child(1) {
    font-weight: bold;
}

.bye div> :nth-child(2) {
    font-weight: bold;
}

.bye div button {
    background-color: #eee;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.bye div button:hover {
    background-color: #ccc;
}



.reason h1 {
    font-size: 1.6rem;
}

.reason p {
    margin: 20px 0;
    font-weight: bold;
}

.reason> div  {
    width: 100%;
    text-align: left;
}

.reason> div select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reason> div> div textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}

.reason> div> button {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.remove h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.remove :nth-child(1) {
    font-weight: bold;
}

.remove img {
    width: 70px;
}

.remove p {
    margin: 20px 0;
}

.remove button {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.top-button {
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 50%;
    background: black;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 50px;
    right: 50px;
  }

  @media screen and (min-width: 1366px) {
    .artbox {
      width: 600px;
      margin: 70px auto;
    
    }
    
    .pc-show {
        display: block;
    }
  }
