@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.nanummyeongjo * {
    font-family: 'Nanum Myeongjo', serif;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
}

body {
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    position: relative;
    height: 100%;
}

h1 {
    font-size: 1.8rem;
    font-family: 'Noto Sans KR', sans-serif;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}

hr {
    border-bottom: 1px solid #dddddd;
    margin: 20px 0;
}


img {
    width: 100px;
}

input {
    /* width: 100%;
    margin-top: 10px;
    padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.9rem;
}


input[type="text"] {
    width: 100%;
    height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    padding-left: 12px;
    border-bottom: 1px solid #ddd;
    outline: none;
}

input:focus {
    outline: 1px solid black;
}

textarea {
    margin-top: 20px;
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 0.8rem;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #747474;
    font-size: 1rem;
    font-weight: bold;
}

.mobile-none {
    display: none;
}

/* .pc-show {
    display: block;
} */

/* 피시버전 보이게하기 */

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.artbox {
    border: 1px solid #ccc;
    margin: 60px 40px;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}

.but-gray {
    height: 40px;
    padding: 0px 20px;
    margin-left: 10px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.3s;
}

button {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    color: white;
    background: #adadad;
    transition: 0.5s;
}

button:hover {
    background: black;
}

.but-gray:hover {
    background: black;
}

.btn-eee {
    background: #eee;
    color: #333;
}

.btn-eee:hover {
    background: #ccc;
    color: #333;
}

.btn-555 {
    background: #555;
    color: #fff;
}

.btn-555:hover {
    background: #000;
}

.btn-red {
    background: #e6002d;
    color: #fff;
}

.btn-red:hover {
    background-color: #000;
}

input[id="icon"] {
    display: none;
}

select {
    width: 100%;
    height: 50px;
    font-family: 'Noto Sans KR', serif;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 2vmin;
    margin-bottom: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('./img/down.png') no-repeat 97% 50%/10px auto;
}

.count-wrap {
    position: relative;
    padding: 0 48px;
    border: 1px solid #ddd;
    overflow: hidden;
    width: 200px;
    height: 40px;
    margin: 0 auto;
}

.count-wrap> button {
    border: none;
    border-radius: 0;
    background: #ddd;
    color: #000;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    font-size: 12px;
}

.count-wrap .minus {
    position: absolute;
    left: 0;
}

.count-wrap .plus {
    position: absolute;
    right: 0;
}

.count-wrap .inp {
    border: 0;
    height: 38px;
    text-align: center;
    display: block;
    width: 100%;
}

.mains {
    margin: 60px 30px;
}

.mains>:nth-child(1) img {
    width: 100%;
}

.mains1 {
    margin-top: 40px;
    border-top: 1px solid #ccc ;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.mains1> :nth-child(1)>:nth-child(1) {
    margin-bottom: 10px;
}

.mains1> :nth-child(1)>:nth-child(1) span {
    font-size: 1rem;
    color: #ccc;
}


.mains1 img {
    width: 25px;
    margin-top: 10px;
}

.mains1>:nth-child(2)> :nth-child(1) {
    margin-right: 10px;
}

#btn-modal {
    cursor: pointer;
}

.sell {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.sell>:nth-child(1)>:nth-child(1)>:nth-child(1) {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc ;
}

.sell>:nth-child(1)>:nth-child(1)>:nth-child(1)>:nth-child(1) {
    margin-bottom: 10px;
    margin-right: 20px;
}

.sell>:nth-child(1)>:nth-child(1)>:nth-child(1)>:nth-child(2) {
    color: #00acdc;
}

.sell>:nth-child(1)>:nth-child(1)>:nth-child(2) {
    padding-top: 20px;
    display: flex;
} 

.sell>:nth-child(1)>:nth-child(1)>:nth-child(2)>:nth-child(2) {
    margin-left: 10px;
    color: #aaa;
}

.sell>:nth-child(1)>:nth-child(1)>:nth-child(2)>:nth-child(1){
    font-weight: bold;
}

.sell>:nth-child(1)>:nth-child(1)>:nth-child(3) {
    padding-top: 10px;
    display: flex;
} 
.sell>:nth-child(1)>:nth-child(1)>:nth-child(3)>:nth-child(1){
    font-weight: bold;
}

.sell>:nth-child(1)>:nth-child(1)>:nth-child(3)>:nth-child(2) {
    margin-left: 10px;
    color: #aaa;
}

.sell>:nth-child(1)>:nth-child(1)>:nth-child(4) {
    padding-top: 10px;
    display: flex;
} 

.sell>:nth-child(1)>:nth-child(1)>:nth-child(4)>:nth-child(1){
    font-weight: bold;
}
.sell>:nth-child(1)>:nth-child(1)>:nth-child(4)>:nth-child(2) {
    margin-left: 10px;
    color: #aaa;
}

.option1 {
    margin: 30px 0;
}

.option1>div>ul>li span {
    font-weight: bold;
    font-size: 1rem;
}

.option1>div>ul>li select {
    margin-top: 10px;
}

.total div {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}



.size {
    margin-top: 20px;
}

.size div  h3 {
    margin-right: 20px;
    font-size: .9rem;
}

.size> div> :nth-child(1)> div p {
    font-size: 1rem;
}

.size .flex-wrap {
    margin-top: 10px;
}

.checks-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checks-btn button {
    border-radius: 0;
    width: 48%;
}

.checks-btn> :nth-child(1) {
    background: none;
    color: black;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.checks-btn> :nth-child(2) {
    background: #00acdc;
    font-size: 1rem;
}


.image div {
    width: 100%;
    
}

.image div img{
    width: 100%;
}

.inpo h1 {
    font-size: 1.3rem;
}

.inpo> div> :nth-child(1) {
    background: #eee;
    padding: 60px 30px;
}

.inpo> div> :nth-child(1) img {
    width: 100%;
}

.inpo> div> :nth-child(1) p {
    padding: 30px;
    font-weight: 500;
}

.inpo> div> :nth-child(2) {
    padding: 60px 30px;
}

.inpo> div> :nth-child(2) img {
    width: 100%;
}

.inpo> div> :nth-child(2) p {
    padding: 30px;
    font-weight: 500;
}

.inpo> div> :nth-child(3) {
    padding: 60px 30px;
    background: #eee;
}

.inpo> div> :nth-child(3) img {
    width: 100%;
}

.inpo> div> :nth-child(3) p {
    padding: 30px;
    font-weight: 500;
}

.inpo> div> :nth-child(4) {
    padding: 60px 30px;
}

.inpo> div> :nth-child(4) img {
    width: 100%;
}

.inpo> div> :nth-child(4) p {
    padding: 30px;
    font-weight: 500;
}

.room {
    margin: 60px 30px;
}


.room img{
    width: 300px;
}

.room p {
    font-weight: 600;
}

.room span {
    color: #d1baac;
}

.room div> div {
    display: flex;
    justify-content: center;
}

.room div> div> div {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.room div> div> :nth-child(1){
    background: #d1baac;
}

.room div> div> :nth-child(2) {
    background: #75685f;
}

.review {
    padding: 60px 30px;
}

.review> :nth-child(1)> :nth-child(1) {
    border-top: 1px solid #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.review> :nth-child(1)> :nth-child(1)> :nth-child(1) {
    display: flex;
    align-items: end;
}

.review h1 {
    margin-right: 10px;
}

.review> :nth-child(1)> :nth-child(1) p {
    font-weight: bold;    
    margin-top: 10px;
}

.review> :nth-child(1)> :nth-child(1) span {
    color: #ccc;
    margin-right: 5px;
}

.review> :nth-child(1)> :nth-child(1)> :nth-child(2) button {
    border-radius: 0px;
    margin-top: 20px;
    background: #333;
}

.review> :nth-child(1)> :nth-child(2) {
    margin-top: 20px;
    margin-bottom: 50px;
}

.review> :nth-child(1)> :nth-child(3) {
    background: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 70px 0;
}

.review> :nth-child(1)> :nth-child(4) {
    margin-top: 40px;
}

.review> :nth-child(1)> :nth-child(4) button {
    width: 200px;
    border-radius: 0;
    background: #333;
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 99;
}

#modal .modal-window {
    background: white ;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    position: relative;
    top: 65px;
    padding: 10px;
}

#modal .title {
    display: inline;
}

#modal .title h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline;
    font-size: 1.4rem;
}

#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;

}

#modal .content {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    padding: 0, 10px;
    font-size: 1rem;
}

.xi-close {
    margin-top: 10px;
    font-size: 1.6rem;
}

#modal.modal-overlay {
    display: none;
}

#btn-modal1 {
    cursor: pointer;
}




@media screen and (min-width: 1366px) {

    .pc-none {
        display: none;
    }

    .pc-show {
        display: block;
    }

    .mains {
        display: flex;
        justify-content: space-between;
        align-items: start;
        border-bottom: 1px solid #ccc ;
    }

    .mains> :nth-child(1) {
        width: 60%;
        margin-right: 30px;
    }

    .mains> :nth-child(2) {
        width: 40%;
    }

    .mains1 {
        border-top: none;
        margin: 0;
    }
    .sell{
        border-bottom: none;
    }

    .inpo>div>:nth-child(1) {
        background: none;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .inpo>div>:nth-child(1)>:nth-child(1) {
        width: 50%;
        padding: 20px;
    }

    .inpo>div>:nth-child(1)>:nth-child(2) {
        width: 50%;
    }
    
    .inpo>div>:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inpo>div>:nth-child(2)>:nth-child(1) {
        width: 40%;
        padding: 20px;
    }

    .inpo>div>:nth-child(2)>:nth-child(2) {
        width: 60%;
    }

    .inpo>div>:nth-child(3) {
        background: none;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .inpo>div>:nth-child(3)>:nth-child(1) {
        width: 50%;
        padding: 20px;
    }

    .inpo>div>:nth-child(3)>:nth-child(2) {
        width: 50%;
    }


    .inpo>div>:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inpo>div>:nth-child(4)>:nth-child(1) {
        width: 40%;
        padding: 20px;
    }

    .inpo>div>:nth-child(4)>:nth-child(2) {
        width: 60%;
    }

    .image {
        margin-top: 60px;

    }

    .room {
        margin-top: 250px;
        margin-bottom: 200px;
    }

    .room> p {
        margin-top: 20px;
        font-weight: 400;
        font-size: 1rem;
    }

    .room> div p {
        font-size: 1rem;
    }

    .review {
        width: 1200px;
        margin: 20px auto;
    }


    .review> div> :nth-child(1){
        display: flex;
    }

    #modal .modal-window {
        background: white ;
        border: 1px solid black;
        width: 500px;
        height: 300px;
        top: 365px;
        position: relative;
        
    }

  
    
}


















