@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.nanummyeongjo * {
    font-family: 'Nanum Myeongjo', serif;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
}

body {
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    position: relative;
    height: 100%;
}

h1 {
    font-size: 1.8rem;
    font-family: 'Noto Sans KR', sans-serif;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}

hr {
    border-bottom: 1px solid #dddddd;
    margin: 20px 0;
}


img {
    width: 100px;
}

input {
    /* width: 100%;
    margin-top: 10px;
    padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.9rem;
}


input[type="text"] {
    width: 100%;
    height: 50px ;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    padding-left: 12px;
    border-bottom: 1px solid #ddd;
    outline: none;
}

input:focus {
    outline: 1px solid black;
}

textarea {
    margin-top: 20px;
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 0.8rem;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #747474;
    font-size: 1rem;
    font-weight: bold;
}

.mobile-none {
    display: none;
}

/* .pc-show {
    display: block;
} */

/* 피시버전 보이게하기 */

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.artbox {
    border: 1px solid #ccc;
    margin: 60px 40px;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}

.but-gray {
    height: 40px;
    padding: 0px 20px;
    margin-left: 10px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.3s;
}

button {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    color: white;
    background: #adadad;
    transition: 0.5s;
}

button:hover {
    background: black;
}

.but-gray:hover {
    background: black;
}

.btn-eee {
    background: #eee;
    color: #333;
}

.btn-eee:hover {
    background: #ccc;
    color: #333;
}

.btn-555 {
    background: #555;
    color: #fff;
}

.btn-555:hover {
    background: #000;
}

.btn-red {
    background: #e6002d;
    color: #fff;
}

.btn-red:hover {
    background-color: #000;
}

input[id="icon"] {
    display: none;
}

select {
    width: 100%;
    height: 50px;
    font-family: 'Noto Sans KR', serif;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 2vmin;
    margin-bottom: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('./img/down.png') no-repeat 97% 50%/10px auto;
}

nav {
    margin: 20px 30px;
}

nav> :nth-child(1) {
    cursor: pointer;
}

nav> :nth-child(1) img {
    width: 160px;
    margin-left: -20px;
}

nav> :nth-child(1)> :nth-child(2) {
    position: relative;
}

.xi-cart-o {
    font-size: 2.3rem;
    position: absolute;
    right: 0px;
    top: -40px;
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 20px;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

#modal .modal-window {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.377);
    width: 300px;
    height: 300px;
    position: relative;
    top: 75px;
    padding: 10px;
}

#modal .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline;
    color: black;
}

#modal .title h2 {
    display: inline;
    font-size: 2rem;
}

#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    color: black;
    font-size: 1.3rem;
}

#modal .content {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1rem;
    padding: 0px 10px;
    color: black;
}

#modal.modal-overlay {
    display: none;
}



nav> :nth-child(1)> :nth-child(2) p {
    position: absolute;
    right: -3px;
    top: -42px;
    font-size: 0.6rem;
    font-weight: bold;
    background: #ed2a61;
    padding: 2px 6px;
    color: white;
    border-radius: 50%;
}

/* nav span */

#nav-icon3 {
    width: 30px;
    height: 45px;
    position: relative;
    margin-top: -33px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 99;
}


#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    top: 0px;
    left: -0px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    z-index: 99;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#sidebar {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
    top: -20px;
    left: -3000px;
    transition: .4s;
    z-index: 30;
    font-size: 2.4rem;
    text-align: left;
    padding-left: 30px;
}

#sidebar.act {
    left: 00px;
}

#sidebar ul li a {
    list-style: none;
    color: #000;
    font-size: 1.6rem;
    text-decoration: none;
}

#sidebar h1 {
    margin-top: 90px;
    font-weight: 400;
    font-size: 1.2rem;
}

#sidebar> :nth-child(1) div ul {
    display: flex;
}

#sidebar> :nth-child(1) div ul li a {
    font-weight: 400;
    font-size: 1rem;
    margin-right: 10px;
}

#sidebar> :nth-child(1) div ul> :nth-child(1) a {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

#sidebar> :nth-child(1)> :nth-child(3) input[type="text"] {
    width: 300px;
    height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    margin-bottom: 26px;
    padding-left: 12px;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    background: url(./img/icon_black_glass.png) no-repeat 95% center;
    background-size: 7%;
}

#accordian {
    color: black;
    padding-top: 20px;
    margin-right: 20px;
    border-top: 1px solid #ccc;
}


#accordian ul ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 27px;
    display: block;
    padding: 0 15px;
    transition: all 0.15s;
}


#accordian h3 {
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.4rem;
    position: relative;
    padding-bottom: 10px;
    transition: 0.5s;
}

#accordian h3::after {
    content: '\279C';
    position: absolute;
    right: 0;
    font-size: 1.4rem;
}


#accordian h3:hover {
    border-left: 10px solid #00acdc;
    padding-left: 10px;
}


#accordian ul ul {
    display: none;
}

#accordian li li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#accordian li.active ul {
    display: block;
}

#accordian div {
    margin-top: 30px;
    font-size: 1.2rem;
}

#accordian div ul li {
    margin-top: 10px;
}

.nav-box {
    border-top: 1px solid #ccc;
    text-transform: uppercase;
    padding-bottom: 20px;
    transition: .3s;
}

.nav-box li {
    transition: .3s;
}

.nav-box li:hover {
    border-left: 10px solid #00acdc;
    padding-left: 10px;
}

.icon {
    text-align: center;
    
}

.icon>div>div {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}


.icon>div>div>div {
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    transition: 0.3s;
}


.icon>div>div div::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 1px;
    height: 50px;
    background: #ccc;
}

.icon>div>div div:last-child::after {
    display: none;
}

.icon>div>div>div:hover {
    color: #555;
}

.icon p {
    font-size: 0.9rem;
    word-break:nowrap;
}

.icon a,
a:link,
a:visited,
a:active,
a:focus {
    font-size: 2rem;
}

.icon i {
    color: black;
    transition: .3s;
}

.icon i:hover {
    color: #555;
}

/* https://codepen.io/namsg/pen/gOqPEqQ?editors=1100 */


/* 슬라이드 */


main {
    margin-top: 20px;
    position: relative;
}


.mn-sl {
    height: 800px;
    position: relative;
}

.mn-sl-fr-1 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 190px;
    left: 5%;
    z-index: 11;
}

.mn-sl-fr-2 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 190px;
    left: calc(5% + 94px);
    z-index: 11;
}

.mn-num-cv .fill-bg {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    position: absolute;
    top: 198px;
    left: calc(5% + 24px);
    z-index: 11;
    width: 60px;
    height: 2px;
    background: rgba(256, 256, 256, 0.5);
}


.mn-sl .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 800px;
    position: relative;
}

.mn-sl .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(120%) contrast(95%);
    transition: 6s;
}

.mn-sl .swiper-wrapper .swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(105%) contrast(95%);
}

.first {
    background: url(./img/index_css_slide_1.jpg) no-repeat;
    background-size: cover;
    background-position: 12% center;
    position: relative;
    color: white;
}

.first div {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.first div small {
    font-size: 1.5rem;
}


.first div h2 {
    font-size: 3rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
    margin-top: 10px;
}

.first div p {
    margin-top: 10px;
    font-size: 1rem;
}

.two {
    position: relative;
    background: url(./img/index_css_slide_2.jpg) no-repeat;
    background-size: cover;
    color: #352525;
}

.two div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.two div small {
    font-size: 1.5rem;
}

.two div h2 {
    margin-top: 20px;
    font-size: 3rem;
}

.thr {
    position: relative;
    background: url(./img/index_css_slide_3.jpg)no-repeat;
    background-size: cover;
    color: #352525;
    background-position: center center;
}

.thr div {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.thr div small {
    font-size: 1rem;
}

.thr div h2 {
    font-size: 3rem;

}

.thr div p {
    width: 400px;
    margin: 0 auto;
}

.four {
    position: relative;
    background: url(./img/index_css_slide_4.jpg)no-repeat;
    background-size: cover;
    color: #352525;
    background-position: right;
}

.four div {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

.four div h2 {
    font-size: 2.1rem;
}

.four div p {
    margin-top: 20px;
    width: 400px;
    margin: 0 auto;
}


.mn-sl .swiper-button-prev,
.mn-sl .swiper-button-next {
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 88%;
    transition: .3s;
    outline: none;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 2px;
}


.mn-sl .swiper-button-prev {
    left: -20px;
    padding: 20px 20px 10px 80px;
}

.mn-sl .swiper-button-prev:hover {
    transform: translateX(20px);
}

.mn-sl .swiper-button-next {
    right: -20px;
    padding: 20px 80px 10px 20px;
}

.mn-sl .swiper-button-next:hover {
    transform: translateX(-20px);
}

.mn-sl .swiper-button-prev::after,
.mn-sl .swiper-button-next::after {
    font-size: 1rem;
    color: #fff;
    opacity: 1;
    transition: .3s;
    display: none;
}

.mn-sl-pg-sl-cv2 {
    position: absolute;
    top: 248px;
    left: calc(5% + 24px);
    z-index: 15;
}

.mn-sl-pg-sl {
    width: 60px;
}

.mn-sl-pg-sl .swiper-slide {
    font-size: 0rem;
}

.mn-sl .swiper-pagination {
    height: 36px;
    position: absolute;
    top: 89%;
    left: 0;
    display: none;

}

.mn-sl .swiper-pagination-bullet {
    width: 200px;
    height: 30px;
    border-radius: 0;
    color: #fff;
    background: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    top: auto;
    z-index: 9;
    border-bottom: 2px solid #fff;
    outline: none;
    opacity: 1;
    transition: .3s;
}

.mn-sl .swiper-pagination-bullet:hover  {
    transform: translate( 0, -10px);
}



.recommend {
    margin: 60px 30px 150px 30px;
    text-align: center;
}

.recommend> :nth-child(1) {
    text-align: center;
}

.recommend div h1 {
    text-transform: uppercase;
}

.recommend div h5 {
    font-weight: 400;
    color: #8d8d8d;
}

.recommend button {
    border: 1px solid rgb(133, 132, 132);
    background: none;
    color: rgb(36, 36, 36);
    border-radius: 0;
    padding: 10px 50px;
    margin-top: 50px;
    font-size: 0.8rem;
}

.recommend button:hover {
    background: rgb(133, 132, 132);
    color: white;
    border: 1px solid rgb(133, 132, 132);
}

.recommend div button i {
    margin-left: 10px;
}

.recommend> :nth-child(2) {
    margin-top: 40px;
    text-align: left;
}

.recommend> :nth-child(2) section {
    display: flex;
    margin-top: 20px;
}

.recommend> :nth-child(2) section img {
    width: 50%;
    margin-right: 20px;
}

.recommend> :nth-child(2) section h2 {
    font-weight: 400;
}

.recommend> :nth-child(2) section p {
    margin-top: 5px;
}

.recommend> :nth-child(2) section> :nth-child(2) h2 {
    margin-top: -5px;
}

.recommend> :nth-child(2) section> :nth-child(2)> :nth-child(3) {
    display: flex;
}

.recommend> :nth-child(2) section> :nth-child(2)> :nth-child(3)>div {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.recommend> :nth-child(2) section> :nth-child(2)> :nth-child(4) {
    font-size: 0.8rem;
}


.recommend> :nth-child(2)>:nth-child(1)> :nth-child(2)> :nth-child(3)> :nth-child(1) {
    background-color: #f4d097;
    margin-right: 5px;
}

.recommend> :nth-child(2)>:nth-child(1)> :nth-child(2)> :nth-child(3)> :nth-child(2) {
    background-color: #574529;
}

.recommend> :nth-child(2)>:nth-child(2)> :nth-child(2)> :nth-child(3)> :nth-child(1) {
    background-color: #574529;
    margin-right: 5px;
}

.recommend> :nth-child(2)>:nth-child(3)> :nth-child(2)> :nth-child(3)> :nth-child(1) {
    background-color: #cdc1a7;
    margin-right: 5px;
}

.recommend> :nth-child(2)>:nth-child(3)> :nth-child(2)> :nth-child(3)> :nth-child(2) {
    background-color: #797876;
}

.recommend> :nth-child(2)>:nth-child(4)> :nth-child(2)> :nth-child(3)> :nth-child(1) {
    background-color: #5b4140;
    margin-right: 5px;
}

.recommend> :nth-child(2)>:nth-child(4)> :nth-child(2)> :nth-child(3)> :nth-child(2) {
    border: 1px solid #ccc;
    background-color: white;
}

.buy {
    padding: 60px 30px 150px 30px;
    text-align: center;
    background-color: #eee;
}

.buy h1 {

    text-transform: uppercase;
}

.buy h5 {
    font-weight: 400;
    color: #8d8d8d;
}

.buy>button {
    border: 1px solid rgb(133, 132, 132);
    background: none;
    color: rgb(36, 36, 36);
    border-radius: 0;
    padding: 10px 50px;
    margin-top: 20px;
    font-size: 0.8rem;
    transition: 0.3s;
}

.buy>button:hover {
    background: rgb(133, 132, 132);
    color: white;
    border: 1px solid rgb(133, 132, 132);
}

.buy>div {
    display: flex;
    flex-wrap: wrap;
}

.buy>div section {
    margin-top: 30px;
    text-align: left;
}

.buy> div> :nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.buy> div> :nth-child(1) section {
    width: 32%;
}

.buy> div> :nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy> div> :nth-child(2) section {
    width: 49%;
}


.buy> div> :nth-child(1) section img, div> :nth-child(2) section img {
    width: 100%;

    object-fit: cover;
}

.bad>div {
    text-align: left;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
}

.bad div span {
    color: #aaa;
    font-size: 0.8rem;
    line-height: 3;
}


.buy> :nth-child(3)> :nth-child(4)> :nth-child(1) img {
    width: 100%;

}

.buy> :nth-child(3)> :nth-child(4)> :nth-child(2) img {
    width: 100%;
    border-radius: 20px;
}

.buy> :nth-child(3)> :nth-child(4)> :nth-child(1)>div,
.buy> :nth-child(3)> :nth-child(4)> :nth-child(2)>div {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.buy> :nth-child(3)> :nth-child(4)> :nth-child(1)>div span,
.buy> :nth-child(3)> :nth-child(4)> :nth-child(2)>div span {
    color: #aaa;
    font-size: 0.9rem;
    line-height: 3;
}

.buy> :nth-child(3)> :nth-child(4)> :nth-child(1)>div>div,
.buy> :nth-child(3)> :nth-child(4)> :nth-child(2)>div>div {
    display: flex;
    justify-content: start;
    font-size: .9rem;
    font-weight: lighter;
}


.new {
    margin: 60px 30px 150px 30px;
    text-align: center;
}

.new> :nth-child(1) h5 {
    font-weight: 400;
    color: #8d8d8d;
}


.new> :nth-child(1) button {
    border: 1px solid rgb(133, 132, 132);
    background: none;
    color: rgb(36, 36, 36);
    border-radius: 0;
    padding: 10px 50px;
    margin-top: 20px;
    font-size: 0.8rem;
}

.new> :nth-child(1) button i {
    margin-left: 10px;
}

.new> :nth-child(2) {
    overflow-x: scroll;
    margin-top: 40px;
}

.new> :nth-child(2) section {
    width: 350px;
    margin-right: 10px;
}


.new> :nth-child(2)> :nth-child(1) {
    margin-left: 5px;
}

.new> :nth-child(2)::-webkit-scrollbar {
    width: 10px;
    margin-top: 30px;
}

.new> :nth-child(2)::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}

.new> :nth-child(2)::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee;
}

.new> :nth-child(2)>div {
    display: flex;
    width: 960px;
    justify-content: space-between;
}

.new> :nth-child(2) section>img {
    width: 100%;
}

.new> :nth-child(2) section>div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.new> :nth-child(2) section>div>:nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;
}

.new> :nth-child(2) section>div>:nth-child(2) {
    font-size: 1rem;
    margin-top: 10px;
    padding: 20px;
    color: #464646;
}

.new> :nth-child(2) section>div button {
    border: 1px solid rgb(133, 132, 132);
    background: none;
    color: rgb(36, 36, 36);
    border-radius: 0;
    padding: 10px 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.8rem;
    transition: 0.3s;
}

.new> :nth-child(2) section>div button:hover {
    background: rgb(133, 132, 132);
    color: white;
    border: 1px solid rgb(133, 132, 132);
}




.hot {
    width: 100%;
    position: relative;
}

.hot video {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.hot div>div>div {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hot div>div>div p {
    color: white;
    font-size: 1.2rem;
}


.reserve {
    padding: 60px 30px 150px 30px;
    background-color: #eee;
}

.reserves {
    margin: 0 auto;
    padding: 88px 0;
}

.reserve h1 {
    text-transform: uppercase;
}

.reserve h4 {
    font-size: .9rem;
    font-weight: 400;
    color: #8d8d8d;
}

.reserve sup {
    color: #e6002d;
}

.reserves>div {
    margin-bottom: 16px;
}

.reserves> :nth-child(1) {
    text-align: center;
}

.chose {
    margin-top: 40px;
}
.chose span {
    font-size: .9rem;
    color: rgb(204, 0, 41);
}

.check ul {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.check ul> :nth-child(1), .check ul> :nth-child(2), .check ul> :nth-child(3), .check ul> :nth-child(4) {
    width: 60px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
}

.check ul> :nth-child(1)>:nth-child(1)>:nth-child(1) {
    position: relative;
    width: 60px;
    height: 60px;
    background:url(./img/icon_home.png) no-repeat 100%;
    background-size: cover;
}

.check ul> :nth-child(2)>:nth-child(1)>:nth-child(1) {
    position: relative;
    width: 60px;
    height: 60px;
    background:url(./img/icon_bed.png) no-repeat 100%;
    background-size: cover;
}
.check ul> :nth-child(3)>:nth-child(1)>:nth-child(1) {
    position: relative;
    width: 60px;
    height: 60px;
    background:url(./img/icon_baby.png) no-repeat 100%;
    background-size: cover;
}
.check ul> :nth-child(4)>:nth-child(1)>:nth-child(1) {
    position: relative;
    width: 60px;
    height: 60px;
    background:url(./img/icon_child.png) no-repeat 100%;
    background-size: cover;
}

.check .input-box {
    position: absolute;
    top: -15px;
    right: -10px;
}



.inpo {
    margin-top:20px;
    border-top: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inpo span{
    color: rgb(204, 0, 41);
}


.reserves> :nth-child(2) {
    text-align: left;
}

.reserves>:nth-child(2)>div input[type="text"] {
    background: white;
    border: 1px solid #808080;
    width: 100%;
    padding-left: 8px;
}

#datepicker {
    width: 100%;
    height: 50px;
}

.reserves>div {
    padding: 0;
}

.reserves h5 {
    padding: 4px 0;
    font-size: 1rem;
}

.reserves button {
    width: 100%;
}

.reserves p {
    margin-top: 10px;
    font-weight: bold;
}


.add {
    display: flex;
    justify-content: center;
}

.add> input[type="text"]{
    width: 60%;
}

.add input[type="button"] {
    width: 40%;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #808080;
}

.reserves> :nth-child(3) span{
    margin-left: 10px;
}

.reserves a {
    font-size: .8rem;
    color: #808080;
    margin-left: 10px;
}

.reserves a:hover {
    border-bottom: 1px solid #808080;
}

.reserves button {
    border: 1px solid rgb(133, 132, 132);
    background: none;
    color: rgb(36, 36, 36);
    border-radius: 0;
    padding: 10px 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.8rem;
    transition: 0.3s;
}

.reserves button:hover {
    background: rgb(133, 132, 132);
    color: white;
    border: 1px solid rgb(133, 132, 132);
}


.map {
    margin: 60px 30px 150px 30px;
    text-align: center;
    position: relative;
}

.map h1 {
    text-transform: uppercase;
}

.map h5 {
    font-weight: 400;
    color: #8d8d8d;
    margin-bottom: 30px;
}

.map>div>div {
    position: absolute;
    width: 250px;
    background: rgb(143, 194, 42);
    padding: 20px 30px;
    color: white;
    text-align: left;
    font-weight: bold;
    bottom: 3px;
    font-size: 1rem;
}

.map>div>div input[type="text"] {
    border: none;
    background: none;
    background: url(./img/icon_white_glass.png) no-repeat 95% center;
    background-size: 12%;
    color: white;
    border-radius: 0;
    border-bottom: 1px solid white;
}

.map>div>div input::placeholder {
    color: white;
}

.map>div>div input:focus {
    outline: 2px solid white;
    border-radius: 10px;
}

.qna {
    margin: 60px 30px 150px 30px;
    text-align: center;
    word-break:normal;
}

.qna h1 {
    text-transform: uppercase;
}

.qna h5 {
    font-weight: 400;
    color: #8d8d8d;
}

.qna>div>div {
    margin-top: 40px;
}

.qna>div> :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.qna>div> :nth-child(2)> :nth-child(1),
.qna>div> :nth-child(2)> :nth-child(3) {
    width: calc(50% - 15px);
    background-color: #eee;
    padding: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: .3s;
    border: 2px solid #eee;
}

.qna>div> :nth-child(2)> :nth-child(2),
.qna>div> :nth-child(2)> :nth-child(4) {
    width: calc(50% - 15px);
    background-color: #eee;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: .3s;
    border: 2px solid #eee;
}

.qna>div> :nth-child(2)>:nth-child(2) {
    margin-right: 0;
}

.qna>div> :nth-child(2) section:hover {
    background-color: white;
}

.qna>div> :nth-child(2) section i {
    font-size: 2rem;
    margin-bottom: 20px;
}

.qna>div> :nth-child(2) section div>div {
    letter-spacing: -0.05em;
}

.qna>div> :nth-child(2) section div>div span {
    color: #999;
}

.qna>div> :nth-child(2) section div>div p {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05em;
}

footer {
    padding: 60px 40px;
    background-color: #eee;
    color: #464646;
    position: relative;
}

footer>:nth-child(1)>:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #464646;
}

footer>:nth-child(1)>:nth-child(1) img {
    width: 150px;
    align-items: center;
}

footer>:nth-child(1)>:nth-child(1)>div>ul li {
    position: absolute;
    right: 100px;
    font-size: 1.5rem;
    margin-right: 5px;
    transition: .3s;
}


footer>:nth-child(1)>:nth-child(1)>div>ul :nth-child(1) {
    position: absolute;
    right: 100px;
    top: 53px;
}

footer>:nth-child(1)>:nth-child(1)>div>ul :nth-child(2) {
    position: absolute;
    right: 70px;
    top: 53px;
}

footer>:nth-child(1)>:nth-child(1)>div>ul :nth-child(3) {
    position: absolute;
    right: 35px;
    top: 53px;
}

footer>:nth-child(1)>:nth-child(1)>div>ul li:hover {
    color: #000;
}


footer div ul {
    text-align: left;
    margin-top: 20px;
}

footer div ul li {
    margin-top: 10px;
}

footer>:nth-child(2) {
    text-align: left;
}

footer> :nth-child(2) p {
    color: #464646;
}

footer> :nth-child(2)> :nth-child(1) li {
    margin-right: 5px;
    font-weight: bold;
}

footer .copy {
    margin-top: 20px;
    font-size: 0.8rem;
}


@media screen and (min-width: 1366px) {

    .pc-none {
        display: none;
    }
    .mn-sl {
        height: 720px;
    }

    .mn-sl .swiper-wrapper .swiper-slide div {
        padding-top: 300px;
        width: 1000px;
        height: 720px;
        position: absolute;
        left: 50%;
        top: 38%;
        transform: translate(-50%, -50%);
    }

    .mn-sl .swiper-button-prev,
    .mn-sl .swiper-button-next {
        font-size: 0;
        border-bottom: 0;
        top: 50%;
    }

    
    .mn-sl .swiper-button-prev {
        left: 120px;
        padding: 0;
    }

    .mn-sl .swiper-button-prev:hover {
        transform: translateX(0px);
    }

    .mn-sl .swiper-button-next {
        right: 120px;
        padding: 0;
    }

    .mn-sl .swiper-button-next:hover {
        transform: translateX(0px);
    }

    .mn-sl .swiper-button-prev::after,
    .mn-sl .swiper-button-next::after {
        font-size: 2.6rem;
        color: #fff;
        opacity: 1;
        transition: .3s;
        display: block;
    }

    .mn-sl .swiper-pagination {
        display: block;
    }

    .mn-sl-pg-sl-cv2 {
        width: 1000px;
        position: absolute;
        top: 248px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 15;
        padding-right: 888px;
    }

    .mn-num-cv {
        width: 1000px;
        height: 100px;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 15;
        background: transparent;
    }

    .mn-num-cv .mn-sl-fr-1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mn-num-cv .fill-bg {
        top: 8px;
        left: 26px;
    }

    .mn-num-cv .mn-sl-fr-2 {
        top: 0px;
        left: 100px;
    }

    #modal .modal-window {
        width: 600px;
        height: 300px;
    }

    #modal .close-area {
        font-size: 1.3rem;
    }

    
    .icon>div>div div::after {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 1px;
        height: 50px;
        background: #ccc;
    }

    .icon>div>div div:last-child::after {
        display: none;
    }

    .icon>div>div>div:hover {
        color: #555;
    }

    .icon p {
        font-size: 1rem;
    }

    .first div h2 {
        border-top: none;
        border-bottom: none;
    }

    .thr {
        position: relative;
        color: white;
    }

    .thr div {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(10%, 0);
    }

    .recommend {
        width: 1200px;
        margin: 100px auto;
    }

    .recommend> :nth-child(1) h1 {
        font-size: 2rem;
    }

    .recommend> :nth-child(1) h5 {
        font-size: 1rem;
    }

    .recommend> :nth-child(2) {
        display: flex;
        justify-content: space-between;
    }

    .recommend> :nth-child(2) section {
        position: relative;
        display: block;
        margin-top: 20px;
        width: 25%;
        margin-right: 10px;
        transition: .3s;
    }

    .recommend> :nth-child(2) section:hover>div {
        background-color: #3b3b3b3a;
    }

    .recommend> :nth-child(2) section img {
        width: 100%;
        margin-right: 20px;
    }

    .recommend> :nth-child(2) section>div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        color: white;
        padding: 20px;
        transition: .3s;
    }

    .recommend> :nth-child(2) section h2 {
        font-size: 1.6rem;
    }
    
    .recommend> :nth-child(2) section> :nth-child(2)> :nth-child(4) {
        display: flex;
        font-size: 1rem;
        margin-top: 170px;
    }

    .recommend> :nth-child(2) section> :nth-child(2)> :nth-child(4)>:nth-child(1) {
        margin-right: 10px;
    }

    .recommend button {
        font-size: 1rem;
    }

    .buy {
        margin: 150px auto;
    }

    .buy h1 {
        font-size: 2rem;
    }

    .buy h5 {
        font-size: 1rem;

    }

    .buy> :nth-child(3) {
        width: 1200px;
        margin: 0 auto;
    }


    .buy> :nth-child(3)> :nth-child(4) {
        margin: 40px auto;
    }


    .buy> :nth-child(3)> :nth-child(4)> :nth-child(1) {
        width: 50%;
        margin-right: 20px;
    }


    .buy> :nth-child(3)> :nth-child(4)> :nth-child(2) {
        width: 50%;
        text-align: left;
    }

    .bad div {
        font-size: 1.3rem;
    }

    .bad div span {
        color: #aaa;
        font-size: 1rem;
        line-height: 3;
    }

    .buy>button {
        font-size: 1rem;
    }

    .new {
        width: 1200px;
        margin: 60px auto;
    }

    .new> :nth-child(1) h1 {
        font-size: 2rem;
    }

    .new> :nth-child(1) h5 {
        font-size: 1rem;
    }


    .new> :nth-child(2) {
        overflow-x: visible;
        margin-top: 40px;
    }

    .new> :nth-child(2) section {
        width: 500px;
        margin-right: 10px;
    }

    .new> :nth-child(2)>div {
        width: 1200px;
        margin: 0 auto;
    }

    .hot {
        margin: 150px 0;
    }

    .hot video {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .qna {
        width: 1200px;
        margin: 0 auto;
    }

    .qna h1 {
        font-size: 2rem;
    }

    .qna h5 {
        font-size: 1rem;
    }

    .qna>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .qna>div>div {
        margin-top: 40px;
    }

    .qna>div> :nth-child(2) {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .qna>div> :nth-child(2)> :nth-child(1),
    .qna>div> :nth-child(2)> :nth-child(2),
    .qna>div> :nth-child(2)> :nth-child(3),
    .qna>div> :nth-child(2)> :nth-child(4) {
        width: calc(25% - 28px);
        background-color: #eee;
        min-height: 220px;
        padding: 20px;
        margin-right: 28px;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .channel {
        width: 1200px;
        margin: 20px auto;
    }

    .channel h1 {
        font-size: 2rem;
    }

    .channel h5 {
        font-size: 1rem;
    }

    .channel div {
        width: 700px;
    }

    .map {
        margin: 100px 75px;
    }

    .map h1 {
        font-size: 2rem;
    }

    .map h5 {
        font-size: 1rem;
    }

    .map>div>div {
        position: absolute;
        width: 350px;
        background: rgb(143, 194, 42);
        padding: 20px 30px;
        color: white;
        text-align: left;
        font-weight: bold;
        bottom: 3px;
        font-size: 1.2rem;
    }

    .reserve {
        padding: 60px 75px;
        margin: auto;
    }


    .reserves {
        width: 1200px;
        margin: 0 auto;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .reserves> :nth-child(1) {
        text-align: left;
    }

    .main-text-center {
        text-align: left;
    }

    .chose {
        display: flex;
        justify-content: space-between;
    }

    .inpo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

   
    .text-name h5 {
        margin-top: -20px;
    }


    .reserves h5 {
        width: 30%;
        padding: -4px 0px;
        font-size: 1rem;
    }

    /* .tell {
        display: flex;
    } */

    .main-text-center h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .main-text-center h4 {
        font-size: 1rem;
        color: black;
    }



    .pc-show {
        display: block;
    }

    footer {
        margin-top: 60px;
        padding: 70px 75px;
        font-size: 1rem;
    }

    footer>:nth-child(1) {
        position: relative;
    }

    footer>:nth-child(1)>:nth-child(1)>div>ul li {
        position: absolute;
        top: 0px;
        font-size: 2rem;
        margin-right: 5px;
        transition: .3s;
    }

    footer>:nth-child(1)>:nth-child(1)>div>ul :nth-child(1) {
        position: absolute;
        right: 120px;
        top: 3px;
    }

    footer>:nth-child(1)>:nth-child(1)>div>ul :nth-child(2) {
        position: absolute;
        right: 80px;
        top: 3px;
    }

    footer>:nth-child(1)>:nth-child(1)>div>ul :nth-child(3) {
        position: absolute;
        right: 35px;
        top: 3px;
    }

    footer> :nth-child(2)> :nth-child(1) {
        display: flex;
        margin-top: -0px;
    }

    footer> :nth-child(1)> :nth-child(2) {
        margin-top: 25px;
    }


    footer>:nth-child(1)> :nth-child(3) {
        position: absolute;
        right: 350px;
        top: 75px;
        border-left: 1px solid #464646;
        padding-left: 20px;
        border-right: 1px solid #464646;
        padding-right: 20px;
    }

    footer>:nth-child(1)> :nth-child(3)> :nth-child(1)> :nth-child(1) {
        font-size: 1rem;
    }

    footer>:nth-child(1)> :nth-child(3)> :nth-child(2)  {
        display: flex;
    }
    footer>:nth-child(1)> :nth-child(3)> :nth-child(2)> :nth-child(1) {
        margin-right: 10px;
    }
    
    footer>:nth-child(1)> :nth-child(3)> :nth-child(2) button {
        border: 1px solid #464646;
        background: none;
        color: rgb(36, 36, 36);
        border-radius: 0;
  
        margin-top: 50px;
        font-size: 1rem;
    }

    footer>:nth-child(1)> :nth-child(3)> :nth-child(2) button:hover {
        background: rgb(133, 132, 132);
        color: white;
        border: 1px solid #464646;
    }

    footer>div> :nth-child(3)> :nth-child(1)> :nth-child(2) {
        font-size: 1.3rem;
        font-weight: bold;
    }

    footer>div>details {
        position: absolute;
        top: 150px;
        right: 105px;
    }

    footer details {
        border: 1px solid #464646;
        padding: 5px 20px;
    }

    footer summary {
        font-weight: bold;
        padding: .5em;
        cursor: pointer;
        position: relative;
        padding-left: 1.2em;
    }

    footer summary::before {
        content: "";
        position: absolute;
        border-top: 0.5em solid transparent;
        border-bottom: 0.5em solid transparent;
        border-left: 0.75em solid #464646;
        top: 10px;
        left: 0;
        transition: .25s;
    }

    footer details[open] summary:before {
        transform: rotateZ(90deg);
    }

    footer details[open] {
        padding: 5px 20px;
    }

    footer details[open] summary {
        border-bottom: 1px solid #aaa;
    }


}
